<div class="row">
    <div class="col" align="center">
        <p>Your app was registered with success!</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>App ID</h6>
    </div>
    <div class="col">
        <span class="label text-danger">{{credentials.appId}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>App Secret</h6>
    </div>
    <div class="col">
        <span class="label text-danger">{{credentials.appSecret}}</span>
    </div>
</div>