<div class="row">
    <div class="col" align="center">
        <h5 class="text-danger">Create an account</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm form-group">
        <label for="firstName">First name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="John"
               ng-model="user.firstName">
    </div>
    <div class="col-sm form-group">
        <label for="lastName">Last name</label>
        <input type="text"
               class="form-control"
               id="lastName"
               placeholder="Doe"
               ng-model="user.lastName">
    </div>
</div>
<div class="row">
    <div class="col form-group">
        <label for="phone">Phone</label>
        <input type="number"
               class="form-control"
               id="phone"
               placeholder="+40720111222"
               ng-model="user.phone">
    </div>
</div>
<div class="row">
    <div class="col form-group">
        <label for="name">Username</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="john.doe145"
               ng-model="user.username">
    </div>
</div>
<div class="row form-group">
    <div class="col">
        <label for="domain">Password</label>
        <input type="password"
               class="form-control"
               placeholder="Password"
               id="domain"
               ng-model="user.password">
    </div>
</div>
<div class="row form-group">
    <div class="col" align="center">
        <button type="submit"
                class="btn btn-danger btn-sm"
                ng-click="createAccount()">Create account</button>
    </div>
</div>
<div class="row form-group">
    <div class="col" align="center">
        <button type="submit"
                class="btn btn-secondary btn-sm"
                ng-click="authenticate()">Sign In</button>
    </div>
</div>