<div class="row">
    <div class="col" align="center">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col" align="center">
        <img src="img/avatar.png" class="rounded" width="280" height="310">
    </div>
</div>
<div class="row">
    <div class="col" align="center">
        <p>&nbsp;</p>
    </div>
</div>
<div id="details" ng-show="showDetails">
    <div class="row">
        <div class="col" align="center">
            <h5 class="text-primary">{{details.firstname}} {{details.lastname}}</h5>
        </div>
    </div>
</div>
<div id="spinner" ng-show="showSpinner">
    <div class="row">
        <div class="col" align="center">
            <div class="loader"></div>
        </div>
    </div>
</div>
