<div class="row">
    <h1>&nbsp;</h1>
</div>
<div class="row">
    <div class="col-md" align="center">
        <h6 class="text-primary">Sign in using your favourite account</h6>
    </div>
</div>
<div class="row">
    <div class="col-md" align="center">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row form-group">
    <div class="col" align="center">
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="authenticate()">Trusted App</button>
    </div>
</div>
<div class="row form-group">
    <div class="col" align="center">
        <button type="submit"
                class="btn btn-secondary btn-sm">Create account</button>
    </div>
</div>