<div class="row form-group">
    <div class="col" align="center">
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> This is the administration area.
        </div>
    </div>
</div>
<div class="row">
    <div class="col" align="center">
        <h5 class="text-primary">Save app credentials</h5>
    </div>
</div>
<div class="row">
    <div class="col form-group">
        <input type="text"
               class="form-control"
               placeholder="App id"
               ng-model="app.appId">
    </div>
</div>
<div class="row form-group">
    <div class="col">
        <input type="password"
               class="form-control"
               placeholder="App secret"
               ng-model="app.appSecret">
    </div>
</div>
<div class="row form-group">
    <div class="col" align="center">
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="saveCredentials()">Save</button>
    </div>
</div>